[submodule "lib/libft"]
	path = lib/libft
	url = https://github.com/murmurlab/libft-pure.git
	branch = ultimate
[submodule "lib/minilibx-linux"]
	path = lib/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux
[submodule "lib/murmur-eval"]
	path = lib/murmur-eval
	url = https://github.com/murmurlab/murmur.eval.git
	branch = master
[submodule "lib/libft/"]
	branch = ultimate
